@model DateTime?


<h3>Current Time: @DateTime.Now.TimeOfDay.ToString()</h3>
<h3>Cached Time: @(Model == null ? "No cached entry found" : Model.Value.TimeOfDay.ToString())</h3>

@*// string collection
IList<string>
    stringList = new List<string>
        () {
        "C# Tutorials",
        "VB.NET Tutorials",
        "Learn C++",
        "MVC Tutorials" ,
        "Java"
        };

        // LINQ Query Syntax
        var result = from s in stringList
        where s.Contains("Tutorials")
        select s;*@
